<div class="display-table full-height">
	<div class="display-cell middle">
		<h1 id="welcome-heading">About Me</h1>
		<p>I began developing web applications in Ruby on Rails four years ago. I was a graphic design student at the time and approached Southern Utah Title Company about <%= link_to "rebranding their website", "http://www.sutc.com", target: :_blank %> in PHP. When I completed the project, the CTO approached me about continuing on as a consultant if I could learn Ruby on Rails in two weeks and produce. I familiarized myself with the language and quickly signed on as a full-time employee for their software development company, eFusion Programming. While I love art, I rediscovered a natural affinity for rapidly learning new languages and changed my focus to programming. I earned my Bachelor's Degree in Computer Science three months ago.</p>
		<p>Today I am a lead programmer and have proven myself a reliable and creative problem solver. I have designed and developed CRM software with modules for Document creation and merging, responsive MVVM Settlement Statements, real-time client-to-client Task Management, and more. I have become an expert full stack developer and am skilled in Ruby on Rails, KnockoutJS, JQuery, MySQL, HTML, CSS, Javascript, Git, XML, and Adobe Illustrator.</p>
		<p>Check out <%= link_to "my LinkedIn profile", "http://linkedin.com/in/markdmeacham", target: :_blank, title: "Go to Mark Meacham's LinkedIn Profile" %> for more.</p>
		<p>Favorite quote: "Hard work beats talent when talent doesn't work hard."</p>
		<p><%= link_to "Back to Home", welcome_index_path() %></p>
	</div>
</div>