<div class="display-table full-height">
	<div class="display-cell middle">
		<h1 id="welcome-heading">About Me</h1>
		<p>I began developing web applications in Ruby on Rails four years ago. I was a graphic design student at the time and approached <%= link_to "Southern Utah Title Company", "http://www.sutc.com", target: :_blank %> about rebranding their website in PHP. When I completed the project, the CTO approached me about continuing on as a consultant if I could learn Ruby on Rails in two weeks and produce. I familiarized myself with the language and quickly signed on as a full-time employee for their software development company, eFusion Programming. While I love art, I rediscovered a natural affinity for rapidly learning new languages and changed my focus to programming. I earned my Bachelor's Degree in Computer Science three months ago.</p>
		<p>Today I am a lead programmer and have proven myself a reliable and creative problem solver. I have designed and developed CRM software with modules for Document creation and merging, responsive MVVM Settlement Statements, real-time client-to-client Task Management, and more. I have become an expert full stack developer and am skilled in Ruby on Rails, KnockoutJS, JQuery, MySQL, HTML, CSS, Javascript, Git, XML, and Adobe Illustrator.</p>
		<p>I value hard work and integrity. I generally get along well with everyone and compartmentalize issues when they arise for the greater good of the team.</p>
		<h4>My favorite quote: "Hard work beats talent when talent doesn't work hard."</h4>
		<p><%= link_to "Back to Home", welcome_index_path() %></p>
	</div>
</div>