<div class="display-table full-height">
	<div class="display-cell middle">
		<h1 id="welcome-heading">My name is Mark Meacham.</h1>
		<h4>I'm a Ruby on Rails Developer. <%= link_to "Learn more!", about_me_index_path() %></h4>
	</div>
</div>