body {
  background-color: #fff;
  color: #333;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

@font-face{
  font-family: PTSans;
  src: font-url('PTSansCaption.ttf')
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('/assets/glyphicons-halflings-regular.eot');
}
h1, h2, h3, h4, h5, h6{font-family: PTSans;}
a, a:hover, a:active, a:focus, a:visited {outline: 0; color: #8E1B1C;}

html, body{height: 100%;}
.full_page_wrapper{ 
  height: 100%; position: absolute; top: 0; width: 100%;
  .display-cell{vertical-align: middle;}
}

.nav-bar{
  text-align: right; padding-top: 10px; height: 0px;
  img{height: 20px;}
  a:not(:last-of-type){margin-right: 5px;}
}

.display-table{display: table; table-layout: fixed; border-collapse: collapse;}
.display-cell{display: table-cell;}

.full-height{height: 100%;}
.middle{vertical-align: middle;}

.reccommendation{padding-left: 10px; font-style: italic;}
.reccommendation-source{font-style: none;}

@media (max-width: 550px) { h1{font-size: 18pt;}}
